/* SignUp.module.css */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input {
    width: 480px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    width: 495px;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #525a63;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .button:hover {
    background-color: #000000;
  }
  .error{
    color: red;
  }